#back-button {
    visibility: hidden;
}

#main-menu {
    height: calc(100vh - 80px);
    overflow-x: hidden;
    overflow-y: auto;
    background: seashell;
    display: flex;
    padding: 5% 0;
    flex-direction: column;
    justify-content: space-around;
}

.sliding-item {
    position: relative;
    text-decoration: none;
    color: floralwhite;
    text-transform: uppercase;
    font-size: 10pt;
    width: calc(100% - 80px);
    height: 20%;
    display: flex;
}

.sliding-item:nth-child(even) {
    flex-direction: row;
    right: calc(-100% + 80px);
    transition: right ease-out .5s;
}
.sliding-item:nth-child(odd) {
    flex-direction: row-reverse;
    left: calc(-100% + 160px);
    transition: left ease-out .5s;
}

.sliding-item:nth-child(even):hover {
    right: -80px;
    transition: right ease-in .5s;
}
.sliding-item:nth-child(odd):hover {
    left: 0;
    transition: left ease-in .5s;
}

.sliding-item h3 {
    width: calc(100% - 80px);
    display: inline-flex;
    justify-content: center;
    text-align: center;
}
.sliding-item i {
    height: 100%;
    width: 80px;
}

.sliding-item:nth-child(1) {
    background: salmon;
}
.sliding-item:nth-child(2) {
    background: cornflowerblue;
}
.sliding-item:nth-child(3) {
    background: greenyellow;
}
.sliding-item:nth-child(4) {
    background: mediumorchid;
}