<?xml version='1.0' encoding='utf-8'?>
<widget id="me.jsthats.planner" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Planer UEK</name>
    <description>
        Aplikacja planu zajęć dla Uniwerystetu Ekonomicznego w Krakowie.
    </description>
    <author email="jakubszkarlat@gmail.com" href="http://jsthats.me">
        Jakub Szkarłat
    </author>
    <content src="home.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
</widget>
