#title-header {
    justify-content: center !important;
}

.bookmark {
    width: 18vh;
    height: 18vh;
    background: dimgray;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .2;
}

.bookmark i {
    font-size: 7.5vh;
}

.sliding-item {
    position: relative;
    text-decoration: none;
    color: floralwhite;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    transition: ease-out .5s;
}

.sliding-item:nth-child(odd) {
    flex-direction: row-reverse;
    margin-right: 9vh;
}
.sliding-item:nth-child(even) {
    flex-direction: row;
    margin-left: 9vh;
}

.sliding-item:hover {
    transition: ease-in .5s;
}
.sliding-item:nth-child(odd):hover {
    padding-left: 4.5vh;
    margin-right: 4.5vh;
}
.sliding-item:nth-child(even):hover {
    padding-right: 4.5vh;
    margin-left: 4.5vh;
}

.sliding-item h3 {
    font-family: 'Lato', sans-serif;
    font-size: 14pt;
    width: calc(100% - 18vh);
    display: inline-flex;
    justify-content: center;
    text-align: center;
    opacity: .7;
}

.sliding-item:nth-child(1) {
    background: salmon;
}
.sliding-item:nth-child(2) {
    background: cornflowerblue;
}
.sliding-item:nth-child(3) {
    background: greenyellow;
}
.sliding-item:nth-child(4) {
    background: mediumorchid;
}