@import url('https://fonts.googleapis.com/css?family=Lato|Roboto:100,300&subset=latin-ext');
@import 'animations.css';

html, body {
    margin: 0;
    overflow: hidden;
    animation: fadeIn .5s ease-out 0s 1;
}

h3 {
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: center;
}

#title-header {
    height: 50px;
    display: flex;
    flex-direction: row;
    background: slategray;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid lightslategray;
}

.icon-header {
    display: inline-flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.icon-header .material-icons {
    font-size: 35pt;
    color: floralwhite;
}

#title-header h4 {
    font-family: 'Lato', sans-serif;
    font-size: 14pt;
    margin: 0 1em;
    text-transform: uppercase;
    color: floralwhite;
}

#main, main {
    height: calc(100vh - 50px);
    overflow-x: hidden;
    overflow-y: auto;
    background: seashell;
    display: flex;
    box-sizing: border-box;
    padding: 0;
    flex-direction: column;
}

#back-button {
    background: none;
    border: none;
    color: white;
    text-decoration: none;
    padding: 0;
    width: 50px;
    height: 50px;
    margin: 5px 15px 5px 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}