.plan-item {
    display: flex;
    color: #4a4a4c;
    cursor: pointer;
    margin: .5em 1em;
    padding: .15em .5em;
}

.plan-item-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25em;
}