main {
    height: calc(100vh - 85px) !important;
}

#tab-nav {
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: slategray;
}

.tab-button {
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 10pt;
    text-transform: uppercase;
    cursor: pointer;
    transition: ease-in .25s;
}
.tab-button.active, .tab-button:hover {
    background: #7a8a9a;
    transition: ease-out .5s;
}

.tab {
    position: absolute;
    display: none;
    height: calc(100vh - 85px);
    width: 100%;
    opacity: 0;
    transition: opacity ease-in-out .25s;
    overflow-y: auto;
}
.tab.active {
    display: initial;
    opacity: 1;
    transition: opacity ease-in-out .5s;
}

.tab:nth-child(1) {
    background: palevioletred;
}
.tab:nth-child(2) {
    background: greenyellow;
}
.tab:nth-child(3) {
    background: cadetblue;
}

