main {
    height: calc(100vh - 85px) !important;
}

/* Search bar */
#search {
    padding: .25em 1em;
    border: none;
    background: none;
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
    color: floralwhite;
    flex-grow: 1;
}

#search::placeholder {
    color: lightgray;
    opacity: 1;
}

/* Tab navigation */
#tab-nav {
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: slategray;
}

.tab-button {
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 10pt;
    text-transform: uppercase;
    cursor: pointer;
    transition: ease-in .25s;

    box-sizing: border-box;
    background-clip: border-box;
    border-bottom: 5px solid rgba(0,0,0,0);
}
.tab-button.active, .tab-button:hover {
    transition: ease-out .5s;
}
.tab-button:nth-child(1).active,
.tab-button:nth-child(1):hover {
    border-bottom-color: tomato;
}
.tab-button:nth-child(2).active,
.tab-button:nth-child(2):hover {
    border-bottom-color: yellowgreen;
}
.tab-button:nth-child(3).active,
.tab-button:nth-child(3):hover {
    border-bottom-color: cornflowerblue;
}

/* Tabs */
.tab {
    position: absolute;
    height: calc(100vh - 85px);
    width: 100%;
    opacity: 0;
    transition: opacity ease-in-out .25s;
    overflow-y: auto;
    z-index: 99;
}
.tab.active {
    z-index: 999;
    opacity: 1;
    transition: opacity ease-in-out .5s;
}
